.u-section-1 .u-sheet-1 {
  min-height: 394px;
}

.u-section-1 .u-table-1 {
  margin: -28px auto 42px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-3f44-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}